<!DOCTYPE html>
<html lang="th">
<head>
    <%- include('../util/head', {title: "Sign up"})%>
</head>
<!--<body class="bg-light">-->
<body>
<%- include('../util/navbar')%>

<div class="container d-flex justify-content-center align-items-center" style="margin-top: 4%">

    <div class="card shadow p-4 bg-dark text-white" style="width: 400px;">
        <h3 class="text-center mb-3">Create your account</h3>
        <% if (typeof error !== "undefined" ) { %>
            <div class="alert alert-danger p-1 fs-6">
                <small><%= error %></small>
            </div>
        <% } %>
        <form method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="example" value="<%= typeof username !== 'undefined' ? username : '' %>" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com" value="<%= typeof email !== 'undefined' ? email : '' %>" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>

            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            </div>

            <button type="submit" class="btn btn-primary w-100 box-shadow-primary">Sign up</button>
        </form>

        <p class="text-center mt-3">Already have an account? <a href="/login" class="text-decoration-none">Sing in</a></p>
    </div>
</div>
<%- include('../util/footer')%>
</body>
</html>
