<!DOCTYPE html>
<html lang="th">
<head>
    <%- include('../../util/head', {title: "Add Category"})%>
</head>
<body>
<%- include('../../util/navbar')%>
<div class="container mt-5 text-white">
    <h2 class="text-center mb-4 fw-bold fst-normal">Create a new Product</h2>

    <div class="card shadow p-4 bg-dark text-white">
        <form action="/manage/product/add" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="productName" class="form-label">Name</label>
                <input type="text" class="form-control" id="productName" name="productName" placeholder="Name..." required>
            </div>

            <div class="mb-3">
                <label for="productPrice" class="form-label">Price</label>
                <input type="text" class="form-control" id="productPrice" name="productPrice" placeholder="Price..." required>
            </div>

            <div class="mb-3">
                <label for="productAmount" class="form-label">Price</label>
                <input type="number" class="form-control" id="productAmount" name="productAmount" placeholder="Amount..." min="1" required>
            </div>

            <div class="mb-3">
                <label for="productCategory" class="form-label">Category</label>
                <select class="form-select" id="productCategory" name="productCategory" required>
                    <option value="" disabled selected>Select Category...</option>
                    <% Object.values(categories).forEach(function(c){ %>
                        <option value="<%= c.name%>"><%= c.name %></option>
                    <% }) %>
                </select>
            </div>

            <div class="mb-3">
                <label for="productImage" class="form-label">Image</label>
                <input type="file" class="form-control" id="productImage" name="productImage" required>
            </div>

            <div class="mb-3">
                <label for="productDescription" class="form-label">Description</label>
                <textarea class="form-control" id="productDescription" name="productDescription" rows="2" placeholder="Description..." required></textarea>
                <!--                <input type="text" class="form-control" id="productDescription" name="productDescription" placeholder="Description..." required>-->
            </div>

            <button type="submit" class="btn btn-primary w-100 box-shadow-primary">Add Product</button>
        </form>
    </div>

    <div class="mt-4 text-center">
        <a href="/manage/product" class="btn btn-outline-primary box-shadow-primary text-decoration-none">Back</a>
    </div>
</div>

<%- include('../../util/footer')%>
</body>
</html>
