<!doctype html>
<html lang="en">
<head>
    <%- include('../../util/head', {title: "Manage Product"})%>

    <style>
        img:hover {
            transform: scale(10);
            box-shadow: 1px 1px 15px rgba(56, 189, 248, 0.6);
        }
    </style>
</head>
<body>
    <%- include('../../util/navbar')%>

    <div class="container mt-5 text-white">
        <h2 class="text-center mb-4" style="font-weight: bold">PRODUCTS LIST</h2>

        <div class="text-end mb-2">
            <a href="/manage/product/add" class="btn btn-outline-success box-shadow-success">New Product</a>
        </div>

        <table class="table table-bordered table-dark table-hover table-striped">
            <thead>
                <tr>
                    <th style="width: 8%">No.</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th class="text-center" style="width: 10%">Manage</th>
                </tr>
            </thead>
            <tbody id="product-list">
            <% if(typeof products !== 'undefined') { %>
                <% for(var i = 0; i < Object.values(products).length; i++) { %>
                    <tr>
                        <td class="align-content-center"><%= i + 1 %></td>
                        <td class="align-content-center"><%= products[i].name %></td>
                        <td class="align-content-center"><%= products[i].price %></td>
                        <td class="align-content-center"><%= products[i].category ? products[i].category.name : "No Category" %></td>
                        <td class="align-content-center text-center">
                            <a href="/images/products/<%= products[i].image%>" target="_blank"><img src="/images/products/<%= products[i].image %>" class="img-thumbnail" style="max-width: 30px; max-height: 30px; object-fit: cover;" alt="<%= products[i].name %>"></a>
                        </td>

                        <td class="align-content-center"><%= products[i].description %></td>
                        <td class="d-flex justify-content-between align-items-center p-1 w-auto" style="max-width: 150px; max-height: 150px;">
                            <form method="post" action="/manage/product/edit">
                                <input type="hidden" name="id" value="<%= products[i]._id%>">
                                <button type="submit" class="btn btn-warning btn-sm m-1 box-shadow-warning">Edit</button>
                            </form>

                            <a href="/manage/product/delete/<%= products[i]._id%>" onclick="return confirm('Are you sure you want to delete this category?')" type="button" class="btn btn-danger btn-sm m-1 box-shadow-danger" data-toggle="modal" data-target="#delete-product">Delete</a>
                        </td>
                    </tr>
                <% } %>
            <% } %>
            </tbody>
        </table>
    </div>

    <%- include('../../util/footer')%>
</body>
</html>